.carousel-services {
  background: $main-color;
  padding-top: rem-calc(42);
}

.carousel-services__text {
  margin-bottom: rem-calc(21);
}

.carousel-services__item {
  display: none;

  &:first-child {
    display: block;
  }
}
