doctype html
html.no-js(lang='ru')
  include components/service/_head
  body
    .grid-container
      h1 Cetera Labs Wireframes
    .grid-container.info
      .pic
        img(data-src="./i/maria.webp" alt="" src="./i/loading.gif" data-ie="./i/maria.jpg").lozad
      .pic
        img(data-src="./i/girl.webp" alt=""  src="./i/loading.gif" data-ie="./i/girl.jpg").lozad
      .pic
        img(data-src="./images/google.webp" alt="" src="./i/loading.gif" data-ie="./images/google.png").lozad
      .pic
        img(data-src="./i/bench.webp" alt="" src="./i/loading.gif" data-ie="./i/bench.jpg").lozad
      .pic
        img(data-src="./i/desert.webp" alt="" src="./i/loading.gif" data-ie="./i/desert.jpg").lozad
      .pic
        img(data-src="./i/bread.webp" alt="" src="./i/loading.gif" data-ie="./i/bread.jpg").lozad
      .pic
        img(data-src="./i/dog.webp" alt="" src="./i/loading.gif" data-ie="./i/dog.jpg").lozad


      .js-slider
        .slide
          img(data-lazy="./i/water.webp", alt="" data-ie="./i/water.jpg")
        .slide
          img(data-lazy="./i/eye.webp", alt="" data-ie="./i/eye.jpg")
        .slide
          img(data-lazy="./i/legs.webp", alt="" data-ie="./i/legs.jpg")
        .slide
          img(data-lazy="./i/road.webp", alt="" data-ie="./i/road.jpg")
