div(itemprop='author' itemscope='' itemtype='http://schema.org/Person')
  span(itemprop='name')
    a(href='') Мария Иванова
p: time(itemprop='datePublished' datetime='2019-07-17T11:45:13+04:00') 17.07.2019, 11:45
