label Имя *
  input(type='text')
label Фамилия *
  input(type='text')
label Название организации
  input(type='text' placeholder='(не обязательно)')
label Адрес улицы и дома *
  input(type='text')
  input(type='text')
  input(type='text')
label Город *
  input(type='text')
label Область *
  input(type='text')
label Почтовый индекс
  input(type='text' placeholder='(не обязательно)')
label Страна *
  select
    option(disabled) выбрать
    option Россия
    option ————
label Телефон *
  input(type='text')
p.help-text Для связи с вами по вопросам заказа