ul
  li: a(href='magento-cart.html') Корзина
  li: a(href='magento-checkout-step1.html') Оформление заказа. Шаг 1
  li: a(href='magento-checkout-step2.html')  Оформление заказа. Шаг 2
  li.sect: a(href='magento-order-confirmation.html') Подтверждение заказа

  li: a(href='magento-user-login.html') Вход
  li: a(href='magento-user-registration.html') Регистрация
  li.sect: a(href='magento-user-recover.html') Восстановить доступ

  li: a(href='magento-user-personal.html') Личные данные
  li: a(href='magento-user-edit.html') Изменить личные данные
  li: a(href='magento-user-address.html') Адрес
  li: a(href='magento-user-address-edit.html') Изменить адрес
  li: a(href='magento-user-address-new.html') Новый адрес
  li: a(href='magento-user-payment.html') Способы оплаты
  li.sect: a(href='magento-user-newsletter.html') Подписка на рассылку

  li: a(href='magento-user-orders.html') Заказы
  li.sect: a(href='magento-user-order.html') Заказ

  li: a(href='magento-user-reviews.html') Отзывы
  li: a(href='magento-user-review.html') Отзыв
