table
  thead
    tr
      td Заказ №
      td Дата
      td Получатель
      td Сумма заказа
      td Статус
      td
  tr
    td 000000004
    td 20.03.2020
    td Иван Петров
    td 50,00 руб.
    td Обрабатывается
    td 
      a(href='user-order.html') Смотреть&nbsp;заказ
      | &nbsp;|&nbsp;
      a(href='cart.html') Заказать&nbsp;снова