ul
  li: a(href='checkout-cart.html') Корзина
  li: a(href='checkout-order-make.html') Оформление заказа
  li: a(href='checkout-order-confirmation.html') Завершение заказа
  li: a(href='checkout-user-profiles.html') Адреса пользователя
